{% extends 'base.html' %}

{% block title %}
    Password Manager - Password Detail
{% endblock %}

{% block content %}
    <div class='container my-3'>
        <h3 class='my-2'>PASSWORD DETAIL</h3>
        <div class='container-fluid'>
            <div class='card-body'>
                <h5 class='card-title'>Password is for <span class='text-success'>{{ passwordObj.password_belongs_to }}</span>,
                    belongs to <span class='text-primary'>{{ passwordObj.linked_category.category_name }}</span>
                </h5>
                <p class='card-text'>First Password hint :- {{ passwordObj.password_hint_one }}</p>
                <p class='card-text'>Second Password hint :- {{ passwordObj.password_hint_two }}</p>
                <p class='card-text'>ACTUAL PASSWORD IS: {{ passwordObj.get_real_password}}</p>
                <p class='password_reveal'>Still cannot figure out the password?
                    <span class='reveal_password_click' data-target={{ passwordObj.get_real_password }}>use reveal Password</span>
                </p>

            </div>
        </div>
    </div>

{% endblock %}