{% extends 'base.html' %}

{% block title %}
    Password Manager - Passwords Home
{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <div class="container">
         <h2 class="text-success my-3 text-center">MANAGE ALL YOUR PASSWORDS</h2>
         <ul class="list-group">
             {% for each_category in user_categories %}
                 <li class="list-group-item">
                     <div class="d-flex justify-content-between">
                        <p>
                            {{ each_category.category_name }}
                        </p>
                         <a class="btn btn-secondary" href={% url 'passwords:create_password' %}>Add New Password</a>
                     </div>
                 </li>
             {% endfor %}
         </ul>

    </div>

    <div class="container my-3">
        {% if not user_passwords %}
            <h3 class="my-4 text-warning">{{ request.user.username }}, YOU HAVEN"T STORED ANY PASSWORDS AS OF NOW!</h3>
            <p>
                Please Add a password now <a href={% url 'passwords:create_password' %}>by clicking here.</a>
            </p>
        {% else %}
            <h3 class="my-4 text-info">{{ request.user.username }}, YOU HAVE ({{ user_passwords.count }}) PASSWORDS SAVED.</h3>
            {% for each_password in user_passwords %}
                <div class="password_container card" style="width: 18rem;">
                    <div class='text-group'>
                        <h5 class='card-title' style='background-color:red'>
                            Category Name:
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            {{ each_password.linked_category.category_name }}
                        </h6>
                    </div>
                    <div class='text-group'>
                        <h5 class='card-title' style='background-color:red'>
                            Password for:
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted" >
                            {{ each_password.password_belongs_to }}
                        </h6>
                    </div>
                    <div class='text-group'>
                        <h5 class='card-title' style='background-color:red'>
                            First Password Hint:
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            {{ each_password.password_hint_one }}
                        </h6>
                    </div>
                    <div class='text-group'>
                        <h5 class='card-title' style='background-color:red'>
                            Second Password Hint:
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            {{ each_password.password_hint_two }}
                        </h6>
                    </div>
                    <a class="btn btn-primary my-2" href={% url 'passwords:detail_password' pk=each_password.id %}>View Details</a>
                </div>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}